label {
  display: block;
  margin-bottom: var(--xs);
  font-weight: var(--font-weight-bold);
}

input {
  font-family: var(--font-family);
  padding: var(--sm);
  font-size: var(--font-size);
  border: var(--border);
  border-radius: var(--xs);

  &:focus-visible {
    outline: none;
  }

  &[type="date"] {
    padding: var(--xs) var(--sm);
    border-radius: var(--sm);
    background-color: var(--gray-darker);
    border-color: var(--gray-dark);
    color-scheme: dark;
  }
}
