a,
a:-webkit-any-link {
  color: var(--accent-dark);
  display: flex;
  align-items: center;
  gap: var(--xs);

  & i {
    font-size: var(--font-size-small);
    height: var(--font-size-small);
    width: var(--font-size-small);
    text-decoration: none;
  }
}
